<div class="row">
  <div class="col-6">
    <form [formGroup]="transactionForm" (ngSubmit)="save()">
      <div class="mb-3">
        <h5 class="form-text text-danger" *ngIf="errors.length > 0">
          Error in {{errors[0].field}} : {{errors[0].message}}
        </h5>
      </div>
      <div class="mb-3">
        <label class="form-label">Transaction Amount</label>
        <input type="text" class="form-control" formControlName="amount" />
        <div class="form-text text-danger" *ngIf="hasError('amount')">
          Amount is not vaild.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Transaction Type</label>
        <select class="form-control" formControlName="txnType">
          <option value="">Select Type</option>
          <option value="Dr">Debit</option>
          <option value="Cr">Credit</option>
        </select>
        <div class="form-text text-danger" *ngIf="hasError('txnType')">
          Please select a type
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!transactionForm.valid">Create Transaction</button>
      <a class="btn btn-light ms-2" routerLink="/accounts">Back</a>
    </form>
  </div>
</div>
