<div class="row">
  <div class="col-6">
    <form [formGroup]="accountForm" (ngSubmit)="saveAccount()">
      <div class="mb-3">
        <label class="form-label">Account Number</label>
        <input type="text" class="form-control" formControlName="accountNumber" />
        <div class="form-text">
          Example: ACC0001
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Account Holder Name</label>
        <input type="text" class="form-control" formControlName="accountName" />
       
      </div>
      <div class="mb-3">
        <label class="form-label">Account Description</label>
        <input type="text" class="form-control" formControlName="description" />
      </div>
      <button type="submit" class="btn btn-primary">Create Account</button>
      <a class="btn btn-light ms-2" routerLink="/accounts">Back</a>
    </form>
  </div>
</div>
